#contact {
  padding: 114px 0 123px 0;
  background: #fff;
}

.contact__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
}

.contact__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  white-space: pre-line;
  height: 64px;
}

.contact__button {
  display: block;
  background: #070707;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  border-radius: 35px;
  padding: 12px 28px 12px 28px;
  margin: 29px auto 86px;
}

.footer__icon{
  display: flex;
  justify-content: space-between;
  max-width: 342px;
  align-items: center;
  margin: 0 auto;
}


.contact__footer{
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
white-space: pre-line;
color: #828282;
align-self: flex-end;
}