#skills {
  padding: 91px 0 110px 0;
  background: #fff;
}

.skills__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 69px;
}

.skills__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 83px;
}

.skills__icons {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 167px;
}

.icon img {
  display: block;
  margin: 0 auto;
}

.icon p {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 24px auto 40px auto;
  color: #828282;
  min-height: 34px;
  max-width: 79px;
}

.stars {
  display: flex;
  justify-content: space-between;
}

.stars img {
  display: inline;
  flex-direction: column;
}

@media (max-width: 940px) {
  .skills__icons {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    align-items: center;
    margin: 0 auto;
    column-gap: 65px;
  }
  .icon {
    margin: 0 auto 40px;
  }
  .icon:last-child {
    margin: 0 auto;
  }
}

@media (max-width: 568px) {
  .skills__icons {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    align-items: center;
  }
  .icon {
    margin: 0 auto 80px;
  }
  .icon:last-child {
    margin: 0 auto;
  }
}
